h1 {
  background-color: rgb(red, green, blue);
}

a {
  background: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  color: #ffff;
}

div {
  background: #aaa;
  width: 140px;
  height: 80px;
  padding: 20px; 
  border: 10px solid #111;
  margin: 30px;
}

body {
  margin: 0px;
}

h1 {
  background: white;
  padding: 21px;
  border: 4 px solid #111;
  margin: 40px;
}