* {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
}

body {
  background-color: #0101;
}

#container {
  width: 40%;
  margin: 56px auto 0px;
  padding: 50px 24px;
  background: #fff;
  border-radius: 20px
}

#title {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  color: #000;
  margin-top: 20px;
}

#list {
  text-align: center;
}


#meuInput {
  height: 25px;
  width: 300px;
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  padding: 2px;
}

#createtask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#inserir {
  width: 80px;
  height: 30px;
  background: #00FF00;
  border-radius: 5px;
  padding: 2px;
  color: #fff;
}

li {
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 10px 10px; width: 10px;" */
}

#tarefa2 {
  background:#00FF00;
}

.task {
  text-decoration: none; /* Remove o sublinhado padrão */
}

.marcarComoFeito {
  text-decoration: line-through; /* Adiciona um risco no texto */
  color: #aaa; /* Opcional: altera a cor para indicar concluído */
}