body {
  background: #c6c6c6;
  font-family: Arial, Helvetica, sans-serif;
}

.principal {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.menu {
  text-align: center;
  padding: 10px 10px;
  border-style: 10px solid;
  margin: 50px;
  font-size: 20px;
}

a {
  text-decoration: none;
  padding: 20px 25px;
  background: #f7f7f7;
  color: black;
  /* font-weight: bolder; */
  border-radius: 4px;
  margin: 10px;
}

img {
  max-width: 50%;
  border-radius: 4px;
  border: 1px;
  padding: 10px 0px;
}

.titulo {
  grid-column: 1 / -1;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}