body {
  background: #c6c6c6;
  font-family: Arial, Helvetica, sans-serif;
}

.principal {
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.menu {
  text-align: center;
  padding: 10px 10px;
  border-style: 10px solid;
  margin: 50px;
  font-size: 20px;
}

a {
  text-decoration: none;
  padding: 20px 25px;
  background: #f7f7f7;
  color: black;
  /* font-weight: bolder; */
  border-radius: 4px;
  margin: 10px;
}

.grid {
  margin: 100px;
  background: #ffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
  flex-wrap: wrap;
  grid-template-rows: auto;
}

.titulo {
  grid-area: auto / 1;
  padding: 10px;
  margin: 20px 20px;
}

.texto {
  grid-area: 2 / 1;
}

.foto {
  max-width: 100%;
  grid-area: 1 / 2;
  grid-row: 1 / 4;
}

.texto {
  margin: 20px;

}

.vermais {
  grid-row: 3;
  background-color: #ee2211;
  color: #fff;
  width: 80px;
  padding: 10px 20px;
  align-content: center;
}

.vantagens {
  margin: 100px;
  background: #ffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
  flex-wrap: wrap;
  grid-template-rows: auto;
}

.vantagem{
  font-size: 64px;
  grid-area: 1 / 1;
  grid-row: 1 / 4;
}