* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "inter", sans-serif;
  color: #fff;
}

body {
  /* background-image: url(/assets/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  background: url(/assets/bg-desktop.jpg) no-repeat top center/cover;
}

#container {
  width: 360px;
  height: 712px;
  border: 1px solid red;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}
