* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.title {
  font-size: 70px;
  border-left: 50px;
  border: 20px;
  margin-left: 200px;
}

.estiloprincipal {
  background-image: linear-gradient(
    to right,
    rgb(172, 170, 170),
    rgb(252, 252, 252),
    rgb(59, 59, 59),
    rgb(2, 2, 2)
  );
}

a {
  color: inherit;
}

.estados {
  color: rgb(42, 43, 42);
  font-size: 45px;
  margin-left: 100px;
}
p {
  font-size: 20px;
}

.hoje {
  color: black;
}

.amanha {
  color: white;
}

.estilosestados {
  background-image: linear-gradient(
    to right,
    rgb(133, 132, 132),
    rgb(121, 119, 119),
    rgb(61, 61, 61),
    rgb(2, 2, 2)
  );
  color: white;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 45px;
}

.cinemalocal {
  font-size: 40px;
}
